.header-title {
    font-weight: 600;
    font-size: 30px;
     margin-bottom: 0px !important;
    margin-left: 16px;
    margin-top: 8px;
}
.fs-12 {
    font-size: 12px !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.checked-button {
    background-color: #b1b93c !important;
}

.image-box {
    height: 210px;
    background-color: whitesmoke;
    margin: 3px;
    max-width: 98%;
}
.items-color-strong {
    color: #227cca !important;
    font-weight: 500 !important;
}.items-color {
    color: #227cca !important;
    font-weight: 400 !important;
}
.program-card {
     margin: 10px !important;
     padding: 18px !important;
     min-height: 390px !important;
 }
.divider {
    border-top-style: solid; border-top-color: grey; border-width: 2px; margin: 4px 24px
}
.sub-title {
    margin: 8px 20px 2px
}

.filter-title {
    font-size: 18px ;
    font-weight: 800
}
.filter-card {
    margin: 12px;
}
.full-width {
    width: 100% !important;
}
.name-class {
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0px;
}
@media(min-width: 1441px) {
    .desktop-view {
        align-items: center;
        justify-content: center;
        max-width: 1441px; 
        margin: 0 auto !important; 
        float: none !important; 
    }
}
